<div class="px-4 py-4 flex justify-evenly items-center bg-gray-800">
    
    <img src="../../assets/logo2.png" alt="logo" class="p-4">

    <div>
        <h1 class="text-white text-xl center">Acerca de este sitio</h1>
        <ul class=" uppercase text-center">
			<li><a class="text-sm text-white hover:text-gray-300 " href="">Inicio</a></li>
			<li><a class="text-sm text-white hover:text-gray-300" href="/alojamiento">Alojamiento</a></li>
			<li><a class="text-sm text-white hover:text-gray-300" href="/gastronomia">Gastronomía</a></li>
			<li><a class="text-sm text-white hover:text-gray-300" href="/comercio">Comercio</a></li>
		</ul>
    </div>
</div>