<nav class="relative px-4 py-4 flex justify-between items-center bg-gray-800">

    <a class="font-bold leading-none w-1/2 lg:w-1/1 " href="#">
        <img src="assets/logo.png" alt="logo">
    </a>

    <div class="lg:hidden">
        <button class="navbar-burger flex items-center text-blue-600 p-3">
            <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Mobile menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </button>
    </div>

    <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-10 uppercase">
    <li><a class="text-sm text-white hover:text-gray-300" href="">Inicio</a></li>
    <li><a class="text-sm text-white hover:text-gray-300" href="/alojamiento">Alojamiento</a></li>
    <li><a class="text-sm text-white hover:text-gray-300" href="/gastronomia">Gastronomía</a></li>
    <li><a class="text-sm text-white hover:text-gray-300" href="/comercio">Comercio</a></li>
</ul>

<a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200" href="/inicioSesion">Iniciar Sesión</a>
<a class="hidden lg:inline-block py-2 px-6 bg-red-500 hover:bg-red-800 text-sm text-white font-bold rounded-xl transition duration-200" href="/registrarse">Registrarse</a>
</nav>

<div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-gray-800  overflow-y-auto">
        <div class="flex items-center mb-8">
            <a class="mr-auto text-3xl font-bold leading-none w-2/3" href="#">
                <img src="assets/logo.png" alt="logo">
            </a>
            <button class="navbar-close">
                <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
        <div>
            <ul>
                <li class="mb-1">
                    <a class="block p-4 text-sm font-semibold text-white  hover:text-gray-300 rounded" href="">Inicio</a>
                </li>
                <li class="mb-1">
                    <a class="block p-4 text-sm font-semibold text-white  hover:text-gray-300 rounded" href="/alojamiento">Alojamiento</a>
                </li>
                <li class="mb-1">
                    <a class="block p-4 text-sm font-semibold text-white  hover:text-gray-300 rounded" href="/gastronomia">Gastronomía</a>
                </li>
                <li class="mb-1">
                    <a class="block p-4 text-sm font-semibold text-white  hover:text-gray-300 rounded" href="/comercio">Comercio</a>
                </li>
                
            </ul>
        </div>
        <div class="mt-auto">
            <div class="pt-6">
                <a class="block px-4 py-3 mb-3 text-xs text-center font-semibold leading-none bg-gray-50 hover:bg-gray-100 rounded-xl" href="/inicioSesion">Iniciar Sesión</a>
                <a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-red-500 hover:bg-red-800  rounded-xl" href="/registrarse">Registrarse</a>
            </div>
           
        </div>
    </nav>
</div>