<app-navbar></app-navbar>

<div class="px-6 py-12">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm  shadow dark:borde pt-6">
        <img class="mx-auto h-auto w-auto" src="../../assets/logo3.png" alt="Your Company">
        <h1 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-700">Registre su cuenta</h1>
    
    <p class="mt-2 text-center text-sm text-gray-500">
        ¿Ya tiene una cuenta? 
        <a href="/inicioSesion" class="font-semibold leading-6 text-red-600 hover:text-red-500">Inciar sesión</a>
        
    </p>
    <h2 class="mt-5 text-center text-lg font-medium leading-6 text-gray-900">Seleccione un tipo de cuenta</h2>
 
    <div class="mx-auto flex items-center justify-center py-12">
          <a href="#" class="px-6 py-2 cursor-pointer rounded-xl dark:border-gray-700 border-4 bg-gray-400 border-gray-800 m-6  shadow-xl hover:shadow-2xl">
            <img src="../../assets/turista.png" alt="turista" class="p-2">
            <p class="text-sm text-black text-center  pb-2  font-medium leading-6">Turista</p>
          </a>

          <a href="/registroEmpresario"  class="px-6 py-2 cursor-pointer rounded-xl  bg-gray-100 border-4 border-gray-800  m-6  shadow-xl hover:shadow-2xl hover:bg-gray-300  transition duration-300 ease-in-out">
            <img src="../../assets/empresario.png" alt="empresario" class="p-2 ">
            <p class="text-sm text-black text-center  pb-2  font-medium">Empresario</p>
            
          </a>
      
  
      </div>
    </div>
  </div>

  
  
  <app-footer></app-footer>