<div class="relative inline-block center">
    <img class="w-screen" src="../../assets/carlosPaz.jpeg" />
    <div class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 text-white text-center text-5xl font-bold ">
        Villa Carlos Paz,<br> más linda que nunca
    </div>
  </div>

  <div class="flex justify-evenly pt-10">
    <a href="/alojamiento">
        <div class="relative inline-block ">
            <img src="../../assets/card1.png" alt="Alojamiento">
            <div class="px-6 py-4">
            <div class="absolute top-28 left-1/2 transform -translate-y-1/2 -translate-x-1/2 text-white text-center text-3xl font-bold uppercase" >Alojamiento</div>
            </div>
        </div>
    </a>
    <a  href="/gastronomia">
        <div class="relative inline-block ">
            <img src="../../assets/card2.png" alt="Alojamiento">
            <div class="px-6 py-4">
            <div class="absolute top-28 left-1/2 transform -translate-y-1/2 -translate-x-1/2 text-white text-center text-3xl font-bold uppercase" >Gastronomia</div>
            </div>
        </div>
      </a>

      <a href="/comercio">
            <div class="relative inline-block ">
                <img src="../../assets/card3.png" alt="Alojamiento">
                <div class="px-6 py-4">
                <a class="absolute top-28 left-1/2 transform -translate-y-1/2 -translate-x-1/2 text-white text-center text-3xl font-bold uppercase" >Comercio</a>
                </div>
            </div>
        </a>
  </div>